<h2 mat-dialog-title>New Cinema</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cinema Name</mat-label>
      <input matInput cdkFocusInitial type="text" formControlName="name" maxlength="100" minlength="3" required />
      <mat-icon matPrefix>storefront</mat-icon>
      <mat-hint align="end">{{form.controls.name.value?.length ?? 0}}/100</mat-hint>
      <mat-error>
        {{ form.controls.name | fieldErrorMessages:'The name' }}
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="actions">
      <button mat-stroked-button mat-dialog-close>Cancel</button>
      <app-async-button
        type="submit"
        [loading]="!mutation.isPending()"
        [disabled]="form.invalid || mutation.isPending()"
        icon="add"
      >
        Add
      </app-async-button>
    </div>
  </mat-dialog-actions>
</form>
