.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
}
