<app-page-header
  [breadcrumbs]="breadcrumbs()"
  [refresh]="retry.bind(this)"
>
  <button
    mat-flat-button
    [routerLink]="['new']"
    aria-label="Add New Screening"
  >
    <mat-icon>add</mat-icon>
    Add Screening
  </button>
</app-page-header>

<div class="table-container">
  <table mat-table [dataSource]="dataSource">

    <!-- TODO: Can link movie to movies page -->
    <ng-container matColumnDef="movie">
      <th mat-header-cell *matHeaderCellDef>Movie</th>
      <td mat-cell *matCellDef="let element">{{element.movie.name}}</td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element">{{element.start | date: 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length.toString()">
        @if (this.screenings.isPending()) {
          <app-loading [size]="35" height="200px" />
        } @else if (this.screenings.isError()) {
          <app-error
            header="Failed to load screenings"
            description="Please try again later."
            [retry]="retry.bind(this)"
          />
        } @else {
          <app-no-data message="No screenings available." height="200px"></app-no-data>    
        }
      </td>
    </tr>
  </table>

  <mat-paginator
    showFirstLastButtons
    [pageSize]="10"
    aria-label="Select page of screenings"
  >
  </mat-paginator>
</div>
