@use '@angular/material' as mat;
@use './theme' as ultraplex-theme;

html {
  @include mat.theme((
    color: (
      primary: ultraplex-theme.$primary-palette,
      theme-type: light
    ),
    typography: Inter,
    density: 0
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

.table-container {
  box-shadow: var(--mat-sys-level2);
  border-radius: var(--mat-sys-corner-medium);
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;

  table {
    min-width: 600px;
  }

  .mat-mdc-header-row {
    background-color: var(--mat-sys-surface-container-low);
  }

  mat-paginator {
    position: sticky;
    bottom: 0;
    left: 0;
  }
}

@include mat.table-overrides((
  row-item-outline-color: var(--mat-sys-surface-dim),
));

.table-container table {
  width: 100%;

  tr {
    display: flex;
    width: 100%;
    align-items: center;
  }

  td, th {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.full-width {
  width: 100%;
}

mat-dialog-actions.mat-mdc-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
  flex-wrap: nowrap;

  .errors {
    color: var(--mat-sys-error);
    font: var(--mat-sys-label-large);
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0 8px;
  }
}

form mat-dialog-content.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

