@use '@angular/material' as mat;
@use './theme' as ultraplex-theme;

html {
  @include mat.theme((
    color: (
      primary: ultraplex-theme.$primary-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
