.page-title,
.page-header,
.page-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.page-header {
  justify-content: space-between;
  margin-bottom: 8px;
}

.page-header-actions {
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .page-header {
    align-items: flex-start;
  }

  .page-header-actions ::ng-deep > * {
    justify-content: space-between;
    flex: 1;
    min-width: 150px;
  }
}

a .breadcrumb {
  color: var(--mat-sys-primary);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

h1, .breadcrumb {
  font: var(--mat-sys-headline-medium);
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

.separator {
  color: var(--mat-sys-on-surface);
  font-weight: 600;
  font-size: var(--mat-sys-body-large-size);
}
