<div class="page-header">
  <div class="page-title">
    @if (breadcrumbs()) {
      @for (breadcrumb of breadcrumbs(); track breadcrumb.label; let i = $index) {
        @if (breadcrumb.route) {
          <a [routerLink]="breadcrumb.route">
            <span class="breadcrumb" >
              {{breadcrumb.label}}
            </span>
          </a>          
        } @else {
          <h1 class="breadcrumb" [routerLink]="breadcrumb.route">
            {{breadcrumb.label}}
          </h1>
        }
        @if (i < (breadcrumbs()?.length ?? 0) - 1) {
          <span class="separator">/</span>
        }
      }      
    } @else {
      <h1>
        {{title()}}
      </h1>
    }

    @if (refresh()) {
      <button
        mat-icon-button
        aria-label="Refresh"
        (click)="handleRefresh()"
        matTooltip="Refresh"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    }
  </div>
  
  <div class="page-header-actions">
    <ng-content></ng-content>
  </div>
</div>
