<main class="main">
  <app-header [toggleSidebar]="toggleSidebar.bind(this)" />

  <mat-sidenav-container class="content-container">
    <mat-sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="open()">
      <mat-nav-list>
        @for (route of navigation; track route) {
          <a
            mat-list-item
            [routerLink]="route.link"
          >
            <div
              class="nav-link"
              [class.active]="isRouteActive(route.link)"
            >
              <mat-icon>{{route.icon}}</mat-icon>
              <span>{{route.name}}</span>
            </div>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
