:host {
  width: 100%;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px 0;
  padding: 16px;
  width: 100%;
}

mat-icon {
  font-size: var(--mat-sys-display-medium-size);
  height: var(--mat-sys-display-medium-size);
  width: var(--mat-sys-display-medium-size);
  color: var(--mat-sys-surface-dim)
}
